
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Welcome to TaxForeCast</h3>        
        <h4>(A website that predicts your tax returns!!)</h4>       
        <a class="btn-primary" asp-action="UserInfo">New User</a>
        <a class="btn-primary" asp-action="CurrentUser">Login</a>
    </div>
</body>
</html>

