@model TaxForecast.Models.NewUserInput
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body class="text-center">

    <p>
        <h1> Thank you for Registring, @Model.Fname!</h1>

    </p>
    Click <a class="nav-link" asp-action="NewW2Form">Here</a>
    to continue to your W2
</body>

</html>

