@model TaxForecast.Models.loginPortal
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body class="text-center">

    <p>
        <h1> Welcome BACK, @Model.Username!</h1>

    </p>
    Click <a class="nav-link" asp-action="W2Form">Continue</a> </p>
</body>

</html>

