@model IEnumerable<TaxForecast.Models.loginPortal>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Responses</title>
</head>
<body>
    <h2>Here is where you continue your input on your W2 form</h2>
    
</body>
</html>